@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Michael Braverman<br />
    Auckland, New Zealand<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">michael.braverman.nz@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">michael.braverman.nz@gmail.com</a>
</address>
