@page
@model MemoryGame.Pages.Lists.DeleteModel

@{
    ViewData["Title"] = "Delete List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@{
    var header = Model.Header +" "+ Model.List.Caption;
}
<h2> @header</h2>

<h3>Are you sure you want to delete the list @Model.List.Caption?</h3>
<div>
    <h4>List</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.List.Caption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.List.Caption)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="List.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
