@page "/Lists/{id}/Records/Game"
@model MemoryGame.Pages.Lists.Records.GameModel

@{
    ViewData["Title"] = "The game for " + Model.Header;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>The Game</h1>

<h2>@Model.RecordToGuess.Word</h2>
<form method="post">
    <div class="span2">
        @foreach (var item in Model.GameRecordDecorators)
        {
            <input type="submit"
                   value="@item.Translation"
                   class="btn btn-light btn-block"
                   asp-page-handler="ApplyGuess"
                   asp-route-itemId="@item.ID" /> <br />
        }
    </div>
</form>

<div>
    <a asp-page="./Index" asp-route-id="@Model.ListId">Back to Records</a> |
    <a asp-page="../Index">Back to List</a>
</div>


